.login-container {
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container img {
  width: 400px;
}

.login-container p {
  font-family: var(--main-font);
  font-size: 16px;
  padding-top: 10em;
}

.login-container input {
  width: 600px;
  text-align: center;
  border: none;
  color: var(--hover-font-color);
}::placeholder {
  text-align: center;
  color: var(--hover-font-color);
}:focus {
  outline: none;
}

.login-container input {
  font-size: 100px;
}

.login {
  border: none;
  font-family: var(--bold-font);
  font-size: 32px;
  color: var(--hover-font-color);
  background-color: transparent;
  padding-top: 2em;
}

.login:hover {
  color: black;
  cursor: pointer;
}