html, body { overflow-x: hidden; }

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 400px;
  margin-top: 7em;
}

.informative-text {
  font-family: var(--main-font);
  font-size: 16px;
  padding-top: 10em;
  text-align: center;
  flex: 1;
}

.password {
  font-size: 100px;
  width: 90vw;
  text-align: center;
  border: none;
  color: var(--hover-font-color);
}::placeholder {
  text-align: center;
  font-size: 100px;
  color: var(--hover-font-color);
}:focus {
  outline: none;
}

.login {
  border: none;
  font-family: var(--bold-font);
  font-size: 32px;
  color: var(--hover-font-color);
  background-color: transparent;
  padding-top: 2em;
}

.login:hover {
  color: black;
  cursor: pointer;
}

@media (max-width: 500px) {
  .logo {
    max-width: 80%;
    margin-top: 6em;
  }

  .informative-text {
    font-size: 14px;
    padding-top: 12em;
  }

  .password {
    font-size: 80px;
  }::placeholder {
    font-size: 80px;
  }

  .login {
    font-size: 30px;
  }
}
